
#banner {
	position: relative;
	width: 800px;
	height: 480px;
	border: 1px solid #666;
	overflow: hidden;
}

#banner_list img {
	border: 0px;
}

#banner_bg {
	position: absolute;
	bottom: 0;
	background-color: #000;
	height: 30px;
	opacity: 0.3;
	z-index: 999;
	cursor: pointer;
	width: 578px;
}

#banner_info {
	position: absolute;
	bottom: 0;
	left: 5px;
	height: 22px;
	color: #fff;
	z-index: 1000;
	cursor: pointer;
}

#banner ul {
	position: absolute;
	list-style: none;
	opacity: 0.8;
	border: 1px solid #fff;
	z-index: 1002;
	margin: 0;
	padding: 0;
	bottom: 3px;
	right: 5px;
}

#banner ul li {
	padding: 0px 8px;
	float: left;
	display: list-item;
	color: #fff;
	border: #e5eaff 1px solid;
	background-color: black;
	cursor: pointer;
	

}

#banner ul li.on {
	background-color: red;
	
	color: blue;
}

#banner_list a {
	position: absolute;  /* 让图片重叠在一起 */
}


	
.slider-page span {
	position: absolute;
	width: 30px;
	height: 60px;
	box-shadow: 0px 0px 2px #000;
	top: 145px;
	opacity: 0.6;
	border-radius: 4px;
	top: 40%;
	
	z-index: 999;
}

.slider-page span:hover {
	opacity: 0.9;
}

.slider-page span.slider-prev {
	background: #000 url(images/prev.png) no-repeat center center;
	left: 25px;
}

.slider-page span.slider-next {
	background: #000 url(images/next.png) no-repeat center center;
	right: 25px;
}























